{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.api.fantasyfutbol.app/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/account": {
      "get": {
        "summary": "Get account",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get account",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Cross-Origin-Resource-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Origin-Agent-Cluster": {
                "schema": {
                  "type": "string"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-DNS-Prefetch-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "integer"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit-Minute": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining-Minute": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset-Minute": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit-Day": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining-Day": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset-Day": {
                "schema": {
                  "type": "integer"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/fantasy-league": {
      "post": {
        "summary": "Create fantasy league",
        "tags": [
          "Fantasy leagues"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "league_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get list",
        "tags": [
          "Fantasy leagues"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {}
      },
      "patch": {
        "summary": "Update fantasy league",
        "tags": [
          "Fantasy leagues"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {},
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "is_active": {
                    "type": "boolean"
                  },
                  "logo_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fantasy-league/{id}": {
      "get": {
        "summary": "Get fantasy league by id",
        "tags": [
          "Fantasy leagues"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the fantasy league to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {}
      }
    },
    "/fantasy-league/{id}/clubs": {
      "get": {
        "summary": "Get clubs",
        "tags": [
          "Fantasy leagues"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the fantasy league to retrieve participating football clubs",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {}
      }
    },
    "/fantasy-league/{id}/gameweeks": {
      "get": {
        "summary": "Get gameweeks",
        "tags": [
          "Fantasy leagues"
        ],
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "deprecated": false
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the fantasy league to retrieve participating gameweeks",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {}
      }
    },
    "/fantasy-league/{id}/fixtures": {
      "get": {
        "summary": "Get fixtures",
        "tags": [
          "Fantasy leagues"
        ],
        "parameters": [
          {
            "name": "game_week_id",
            "in": "query",
            "required": false,
            "description": "Filter fixtures by game_week_id",
            "schema": {
              "deprecated": false
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the fantasy league to retrieve participating fixtures",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All fixtures",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string"
                }
              },
              "Date": {
                "schema": {
                  "type": "string"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Cross-Origin-Resource-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Origin-Agent-Cluster": {
                "schema": {
                  "type": "string"
                }
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-DNS-Prefetch-Control": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string"
                }
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "integer"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Limit-Minute": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining-Minute": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset-Minute": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit-Day": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining-Day": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset-Day": {
                "schema": {
                  "type": "integer"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}